<% header ||= nil %>

<div class="show-when-only-child mx-auto w-80">
  <%= image_tag image, style: 'mix-blend-mode: multiply;', class: 'w-full' %>
  <% if header %>
    <h4 class="text-center mb-1 font-semibold"><%= header %></h4>
  <% end %>
  <h4 class="text-center text-gray-400"><%= message %></h4>
</div>
