<div class="bg-primary-dark w-full">
  <%= render 'components/layout/general_layout', classes: 'py-2' do %>
    <h1 class="text-center text-white font-semibold text-xl"><%= title %></h1>
  <% end %>
</div>
