<% mobile_no_padding ||= false %>
<% classes ||= "" %>

<% if mobile_no_padding %>
  <div class="md:max-w-2xl mx-auto sm:px-0 lg:px-8 w-full h-full flex-1 relative <%= classes %>">
    <%= yield %>
  </div>
<% else %>
  <div class="md:max-w-2xl mx-auto px-2 sm:px-6 lg:px-8 w-full h-full flex-1 relative <%= classes %>">
    <%= yield %>
  </div>
<% end %>
