<div class='nested-fields'>
    <%= f.input :profile_id, :as => :select, :collection => Profile.all, include_blank: 'Select a user', label_method: :full_name %>
    <%= f.input :role, :as => :select, :collection => GroupMember.roles.keys.to_a, selected: 'member' %>
    <%= link_to_remove_association "remove member", f %>
</div>
