<% if form.object.errors.present? %>
  <div class="bg-red-200 p-2">
    <%= form.error_notification %>
    <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  </div>
<% end %>
