<div id="navbar" class="fixed bottom-8 left-1/2 transform -translate-x-1/2 flex items-center justify-between bg-white shadow-lg rounded-xl p-1 py-2">
  <%= render 'shared/navbar_button', path:groups_path, navigation:'groups', icon: 'groups' %>
  <%= render 'shared/navbar_button', path:all_channels_path, navigation:'channels', icon: 'channel' %>
  <%= render 'shared/navbar_button', path:notifications_path, navigation:'notifications', icon: 'bell' %>
  <%= render 'shared/navbar_button', path:profile_path(current_user.profile), navigation:'profile', icon: 'profile' %>
</div>
