<!-- <div class="animate-ping h-3 w-3 shadow-sm rounded-full bg-blazeOrange"></div> -->

<span class="flex h-3 w-3 relative">
  <span class="animate-ping-once absolute inline-flex h-full w-full opacity-75 shadow-sm rounded-full bg-blazeOrange" style="animation-delay:0.5s"></span>
  <span class="h-3 w-3 shadow-sm rounded-full bg-blazeOrange"></span>
</span>
