<% active_class = 'active' if is_current_tab?(navigation) %>
<% path += "?navigation=#{navigation}" %>
<% badge ||= false %>

<%= link_to path, class: "icon-btn navbar mx-1 relative #{active_class}", data: {turbo_frame:"_top"} do %>
  <% if badge %>
    <div class="absolute -top-1 -right-1">
      <%= render('shared/navbar/badge') %>
    </div>
  <% end %>
  <%= render "icons/#{icon}", classes: 'w-6 h-6' %>
<% end %>
